<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="posts">
        <!-- main start -->

        <div class="new">
            <h3>Loggin</h3>

            <form action="/login" method="post" class="login_form">
                <label>Email
                    <input type="email" name="email" value="<%= email %>">
                </label>
                <label>Password
                    <input type="password" name="password" value="">
                </label>
                <% loginError.forEach(function(e){ %>
                    <p class="error_message"><%= e %></p>
                <% }) %>
                <button type="submit">Submit</button>
            </form>
            
            <a href="javascript:history.back();"><button type="button">Back</button></a>
        </div>

        <!-- main end -->
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>